{% extends "_layout.html" %}
{% from 'macros.html' import graphBox %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Graphs</h1>
   </div>
</div>

<div class="row"><!-- List plot configurations in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Plot config</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Graph name</th>
							<th>Plot group</th>
							<th>Timespan</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% for curPlotConfig in plotConfig %}
						<tr>
							<td> <a href="/graph/{{ curPlotConfig['plotgroup']}}/{{ curPlotConfig['timespan']}}">{{ curPlotConfig['plotgroup']}}-{{ curPlotConfig['timespan']}}</a>						</td>
							<td> <a href="/graph/{{ curPlotConfig['plotgroup']}}">{{ curPlotConfig['plotgroup']}}</a> 													</td>
							<td> {{ curPlotConfig['timespan']}}													</td>
							<td> {{ curPlotConfig['size']}}														</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	{% for curPlotConfig in plotConfig %}
          {{ graphBox(curPlotConfig) }}

<!--	<div class="col-lg-{{ curPlotConfig['size'] }}">
		<div class="panel panel-default"><div class="panel-heading"> {{ curPlotConfig['plotgroup']}}</div>
				<div id="{{ curPlotConfig['plotgroup']}}-{{ curPlotConfig['timespan']}}" style="margin: 0 auto" class="large-{{ curPlotConfig['size'] }} small-{{ curPlotConfig['size'] }} columns"></div>
		</div>
	</div>
-->
	{% endfor %}
</div>

{% endblock %}

{% block myjavascript %}

<script type="text/javascript">
 $(document).ready(function(){
 	{% for curPlotConfig in plotConfig %}
	   var nothing = printGroupGraph('{{ curPlotConfig['plotgroup']}}-{{ curPlotConfig['timespan']}}', '{{ curPlotConfig['plotgroup']}}', '{{ curPlotConfig['timespan']}}');
   	{% endfor %}
 });
</script>

{% endblock %}
