{% macro graphBox(curPlotConfig) %}
     <div id=graphdiv-{{curPlotConfig['name']}}-{{curPlotConfig['timespan']}} class="arne-dase">
        <div class="col-lg-{{ curPlotConfig['size'] }}" >
                <div class="panel panel-default arne-dase" {% if isAuthenticated %}draggable="true"{% endif%}><div id="bar-{{curPlotConfig['name']}}-{{curPlotConfig['timespan']}}" class="panel-heading column" ><i class="fa fa-bar-chart-o fa-fw "></i> {{ curPlotConfig['name']}}-{{curPlotConfig['timespan']}}

                           <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/graph/{{curPlotConfig['name']}}">Show {{curPlotConfig['name']}} graphs</a> </li>
                                        <li><a href="/graph/{{curPlotConfig['name']}}/{{curPlotConfig['timespan']}}">Show {{curPlotConfig['name']}}-{{curPlotConfig['timespan']}} graph</a> </li>
                                        <li><a href="/cache/sensorData.{{curPlotConfig['name']}}.{{curPlotConfig['timespan']}}.json">Show JSON data source</a> </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Edit this graph</a> </li>
                                    </ul>
                                </div>
                            </div>

                </div>
                <div id="{{ curPlotConfig['name']}}-{{ curPlotConfig['timespan']}}" margin: 0 auto" class="large-{{ curPlotConfig['size'] }} small-{{ curPlotConfig['size'] }} "></div>
                </div>
        </div>
  </div>
{% endmacro %}

