{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Sensor {{ sensor['id']}} : {{ sensor['temperature'] }}</h1>
   </div>
</div>

<div class="row"><!-- List of registered sensors in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"> Sensor information</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Value</th>
							<th>Extra</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> Id	</td>
                                                        <td> {{ sensor['id'] }} </td>
						</tr>           		                                                                                  									
						<tr>
							<td> Alias </td>
                                                        <td> {{ sensor['alias'][0] }} </td>
						</tr>           		                                                                                  									
						<tr>  
							<td> Type </td>
                                                        <td> {{ sensor['type'] }} </td>
						</tr>
						<tr>  
							<td> Metric </td>
                                                        <td> {{ sensor['metric'] }} </td>
						</tr>
						<tr>  
							<td> State </td>
                                                        <td> {% if sensor['active'] == true %}Active{% else %}Paused{% endif%} </td>
						</tr>
						<tr>
							<td> Temperature </td>
                                                        <td> {{ sensor['temperature'] }}&deg;C ({{ sensor['datestamp'] }})
                                                        <td> <span class="inlinesparkline">{{ sensor['sparkline'] }}</span> <td>
						</tr>
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

 
{% endblock %}

{% block myjavascript %}

   <script type="text/javascript">
    $(document).ready(function() {
        log.log("Rendering sparklines");
        $('.inlinesparkline').sparkline();
        log.log("Done rendering sparklines");
    });
    </script>

    <style>
       .jqstooltip {
           width: auto !important;
           height: auto !important;
       }
    </style>

{% endblock %}
