{% extends "_layout.html" %}

{% block div %}

<!-- overriding sb-admin-2 timeline css to float the information to the right -->
<style>
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
</style>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Sensors</h1>
   </div>
</div>

<div class="row"><!-- List of registered sensors in the database -->
	<div class="col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
							<th>Sparkline</th>
							<th colspan=2>Last Reading</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in sensors %}
						<tr>
							<td> <a href=/sensor/{{ sensor['id'] }}>{{ sensor['id'] }}</a> </td>
							<td> {{ sensor['alias'] }} </td>
							<td> {{ sensor['type']}} </td>
							<td> <span class="inlinesparkline">{{ sparklines[sensor['id']] }}</span> </td>
							<td> {{ lastTemperature[sensor['id']]['temperature'] }}&deg;C </td><td> ({{ lastTemperature[sensor['id']]['datestamp'] }}) </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">New Sensors</h1>
   </div>
</div>

<div class="row"><!-- List of one-wire files not in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in /mnt/1wire not yet in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						{% for file in nonRegisteredFiles %}
						<tr>
							<td> {{ file['id'] }} 		</td>
							<td> {{ file['alias'] }}	</td>
							<td> {{ file['type']}} 		</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>
 

<div class="row">
	<div class="col-sm-5">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
		    </div>
		    <!-- /.panel-heading -->
		    <div class="panel-body">
		        <ul class="timeline">

		            <li>
		                <div class="timeline-badge"><i class="fa  fa-hdd-o"></i>
		                </div>
		                <div class="timeline-panel">
		                    <div class="timeline-heading">
		                        <h4 class="timeline-title">1-wire interface</h4>
		                    </div>
		                    <div class="timeline-body">
		                        <p>The interface is presenting data in /mnt/1wire</p>
		                    </div>
		                </div>
					</li>

				{% for sensor in sensors %}
                                <li class="timeline-inverted">
		                <div class="timeline-badge"><i class="fa  fa-tachometer"></i>
		                </div>
		                <div class="timeline-panel">
		                    <div class="timeline-heading">
		                        <h4 class="timeline-title">Id: {{ sensor['id']}}<br>Alias: {{ sensor['alias'] }}</h4>
		                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ lastTemperature[sensor['id']]['temperature'] }}&deg;C - {{ lastTemperature[sensor['id']]['datestamp'] }}</small>
		                        </p>
		                    </div>
		                    <div class="timeline-body">
		                        <p>This sensor is connected to XYZ</p>
								<p>Type: {{ sensor['type'] }}</p>
								<p><span class="inlinesparkline">{{ sparklines[sensor['id']] }}</span> </p>
		                    </div>
		                </div>
					</li>
		   		{% endfor %}
		        </ul>
		</div>
	</div>
</div>
								
 
{% endblock %}

{% block myjavascript %}

   <script type="text/javascript">
    $(document).ready(function() {
	log.log("Rendering sparklines");
        $('.inlinesparkline').sparkline(); 
	log.log("Done rendering sparklines");
    });
    </script>

    <style>
       .jqstooltip {
           width: auto !important;
           height: auto !important;
       }
    </style>

{% endblock %}
