{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Configuration</h1>
   </div>
</div>

<div class="row"><!-- List plot configurations in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Plot config</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Graph name</th>
							<th>Plot group</th>
							<th>Timespan</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% for curPlotConfig in plotConfig %}
						<tr>
							<td> <a href="/graph/{{ curPlotConfig['name']}}/{{ curPlotConfig['timespan']}}">{{ curPlotConfig['name']}}-{{ curPlotConfig['timespan']}}</a>						</td>
							<td> <a href="/graph/{{ curPlotConfig['name']}}">{{ curPlotConfig['name']}}</a> 													</td>
							<td> {{ curPlotConfig['timespan']}}													</td>
							<td> {{ curPlotConfig['size']}}														</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of sensor groups in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Plot groups</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Sensor group name</th>
							<th>Sensor id</th>
						</tr>
					</thead>
					<tbody>
					{% for plotGroup in plotGroups %}
						
						<tr>
							<td> <a href="/graph/{{ plotGroup['groupname']}}">{{ plotGroup['groupname']}}</a> 													</td>
							<td> {% for plotGroupMember in plotGroup['members'] %} {{ plotGroupMember['sensor_id'] }}<br> {% endfor %}													</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of sensor groups in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Sensor groups</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Sensor group name</th>
							<th>Sensor id</th>
						</tr>
					</thead>
					<tbody>
					{% for sensorGroup in sensorGroups %}
						
						<tr>
							<td> {{ sensorGroup['name']}} 													</td>
							<td> {% for sensorGroupMember in sensorGroup['members'] %} {{ sensorGroupMember['sensor_id'] }}<br> {% endfor %}													</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of Plugins -->
        <div class="col-lg-8">
                <div class="panel panel-default">
                        <div class="panel-heading">Plugins</div>
                        <div class="panel-body">
                          <div class="table-responsive">
                                <table class="table table-condensed table-hover">
                                        <thead>
                                                <tr>
                                                        <th>Plugin name</th>
                                                        <th>Plugin activated</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                        {% for plugin in installedPlugins %}

                                                <tr>
                                                        <td> {{ plugin }}                                                                                                   </td>
                                                        <td> {% if plugin in activePlugins %}  YES  {% else %} NO {% endif %}                                           </td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                </table>
                          </div>
                        </div>
                </div>
        </div>
</div>

 
{% endblock %}
