{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Graphs</h1>
   </div>
</div>

<div class="row">
	{% for curPlotConfig in plotConfig %}
	<div class="col-lg-{{ curPlotConfig['size'] }}">
		<div class="panel panel-default"><div class="panel-heading"> {{ curPlotConfig['name']}}</div>
				<div id="{{ curPlotConfig['name']}}-{{ curPlotConfig['timespan']}}" style="margin: 0 auto" class="large-{{ curPlotConfig['size'] }} small-{{ curPlotConfig['size'] }} columns"></div>
		</div>
	</div>
	{% endfor %}
</div>

{% if "shiftr.io" in activePlugins %} 
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">shiftr.io</div>
			<div class="panel-body">
    <div id="shiftr.io" class="embed-responsive embed-responsive-16by9"> 
    <iframe src="https://shiftr.io/maglub/demo/embed?zoom=1" class="embed-responsive-item"></iframe>
    </div> 
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block myjavascript %}

<script type="text/javascript">

var firstTime = true;

function drawGraphs(){
 	{% for curPlotConfig in plotConfig %}
	log.log("Drawing graph: {{ curPlotConfig['name']}}-{{ curPlotConfig['timespan']}}");
    var nothing = printGroupGraph('{{ curPlotConfig['name']}}-{{ curPlotConfig['timespan']}}', '{{ curPlotConfig['name']}}', '{{ curPlotConfig['timespan']}}', ! firstTime);
   	{% endfor %}	

	firstTime=false;
	//#--- reload the cache data after 60 seconds
	log.log("Sleeping 60 seconds");
    setTimeout('drawGraphs()', 60000);
}

 $(document).ready(function(){

	 drawGraphs();
 });
</script>

{% endblock %}
