{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Sensors</h1>
   </div>
</div>

<div class="row"><!-- List of registered sensors in the database -->
	<div class="col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
							<th>Sparkline</th>
							<th colspan=2>Last Reading</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in sensors %}
						<tr>
							<td> <a href=/sensor/{{ sensor['id'] }}>{{ sensor['id'] }}</a> </td>
							<td> {{ sensor['alias'] }} </td>
							<td> {{ sensor['type']}} </td>
							<td> <span class="inlinesparkline">{{ sparklines[sensor['id']] }}</span> </td>
							<td> {{ lastTemperature[sensor['id']]['temperature'] }}&deg;C </td><td> ({{ lastTemperature[sensor['id']]['datestamp'] }}) </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of one-wire files not in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in /mnt/1wire not yet in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table class="table table-condensed table-hover"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						{% for file in nonRegisteredFiles %}
						<tr>
							<td> {{ file['id'] }} 		</td>
							<td> {{ file['alias'] }}	</td>
							<td> {{ file['type']}} 		</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>
 
{% endblock %}

{% block myjavascript %}

   <script type="text/javascript">
    $(document).ready(function() {
	log.log("Rendering sparklines");
        $('.inlinesparkline').sparkline(); 
	log.log("Done rendering sparklines");
    });
    </script>

    <style>
       .jqstooltip {
           width: auto !important;
           height: auto !important;
       }
    </style>

{% endblock %}
