{% extends "_layout.html" %}

{% block div %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Sensors</h1>
   </div>
</div>

<div class="row"><!-- List of registered sensors in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table id="table-content" class="table table-condensed table-hover" cellspacing="0" width="100%"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
							<th>Sparkline</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in sensors %}
						<tr>
							<td> {{ sensor['id'] }} 													</td>
							<td> {{ sensor['alias'] }}													</td>
							<td> {{ sensor['type']}} 													</td>
							<td> <span class="inlinesparkline">{{ sparklines[sensor['id']] }}</span>	</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- List of one-wire files not in the database -->
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"> List of all Sensors in /mnt/1wire not yet in the database</div>
			<div class="panel-body">
                          <div class="table-responsive">
				<table id="table-content" class="table table-condensed table-hover" cellspacing="0" width="100%"> 
					<thead>
						<tr>
							<th>Identifier</th>
							<th>Alias</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						{% for file in nonRegisteredFiles %}
						<tr>
							<td> {{ file['id'] }} 		</td>
							<td> {{ file['alias'] }}	</td>
							<td> {{ file['type']}} 		</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                          </div>
			</div>
		</div>
	</div>
</div>
 
{% endblock %}

{% block myjavascript %}
   <script type="text/javascript">
    //# Example from: http://omnipotent.net/jquery.sparkline/#s-docs
    $(document).ready(function() {

	log.log("Rendering sparklines");
       
	/** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline(); 

	log.log("Done rendering sparklines");
    });
    </script>
{% endblock %}
